html,
body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

a,
a:hover,
a:visited,
a:active {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

/* PRELOADER */

.preloader {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(#262626, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader_wrapper {
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

#loader_cube_1,
#loader_cube_2,
#loader_cube_3,
#loader_cube_4,
#loader_cube_5,
#loader_cube_6,
#loader_cube_7,
#loader_cube_8,
#loader_cube_9 {
    width: 60px;
    height: 60px;
    background-color: white;
    -webkit-animation-name: fade;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#loader_cube_1 {
    -webkit-animation-delay: 0s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0s;
}

#loader_cube_2 {
    -webkit-animation-delay: 0.75s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0.75s;
}

#loader_cube_3 {
    -webkit-animation-delay: 0.2s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

#loader_cube_4 {
    -webkit-animation-delay: 0.25s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0.25s;
}

#loader_cube_5 {
    -webkit-animation-delay: 0.1s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0.1s;
}

#loader_cube_6 {
    -webkit-animation-delay: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0.3s;
}

#loader_cube_7 {
    -webkit-animation-delay: 0.35s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0.35s;
}

#loader_cube_8 {
    -webkit-animation-delay: 1.45s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 1.45s;
}

#loader_cube_9 {
    -webkit-animation-delay: 1.25s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 1.25s;
}

.loader_text {
    margin-top: 10px;
    color: white;
    font-size: 2.5rem;
    /*font-family: "Roboto", sans-serif;*/
}

#dot_1,
#dot_2,
#dot_3 {
    -webkit-animation-name: fade;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#dot_1 {
    -webkit-animation-delay: 0s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0s;
}

#dot_2 {
    -webkit-animation-delay: 0.5s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 0.5s;
}

#dot_3 {
    -webkit-animation-delay: 1s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
}

/* TOP IMAGE */

.main_image_wrapper {
    display: none;
    /*height: 100%;*/
    /*position: relative;*/
}

.main_image {
    max-width: 100%;
    height: 100%;
    position: relative;
    padding-top: 80px;
}

.main_image:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("./img/main-img.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main_image_content_wrapper,
.background_opacity_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background_opacity_wrapper {
    background-color: rgba(0, 0, 0, 0.2);
}

.main_image_content_wrapper {
    z-index: 1;
}

.main_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main_text_wrapper {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.main_image_text_top,
.main_image_text_bottom,
#technologies_link,
#main_image_go_foreward_wrapper {
    text-align: center;
}

.main_image_text_top h1 {
    font-size: 3rem;
    letter-spacing: 5px;
}

.main_image_text_top,
.main_image_text_center {
	margin-bottom: 1rem;
}
.main_image_text_center {
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    border: 1px solid white;
}

.main_image_text_bottom h2 {
    font-size: 2rem;
    letter-spacing: 1px;
}

.main_image_text_top h1, .main_image_text_bottom h2{
	font-weight: 400;
	margin: 0;
}

#main_image_go_foreward {
    height: 20px;
    margin: auto;
    margin-top: 50px;
    line-height: 20px;
}

#main_image_go_foreward span {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50px;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 1rem;
}

#main_image_go_foreward span:hover {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    color: silver;
}

/* NAVBAR */

.nav_menu_mobile_hamburger,
.nav_menu_mobile {
    display: none;
}

.nav_bar_wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    background-image: linear-gradient(#050505, #262626);
    color: white;
    font-family: "Open Sans", sans-serif;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#my_logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 50px;
}

#my_logo:hover {
    cursor: pointer;
}

.nav_menu {
    display: flex;
    font-size: 1rem;
    margin-right: 50px;
}

.nav_menu div {
    padding-right: 20px;
    border-left: 2px solid black;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.nav_menu div:last-child {
    border-right: 2px solid black;
}

.nav_menu div:hover {
    cursor: pointer;
    background-image: linear-gradient(#050505, #383838);
}

.main_container {
    display: none;
    height: 1000px;
}

.nav_menu_mobile {
    margin-right: 50px;
    line-height: 1;
    text-align: right;
}

.nav_menu_mobile div {
    margin-bottom: 12px;
}

/* SECTION WRAPPERS */

.technologies_wrapper,
.about_wrapper,
.contact_wrapper {
    margin: auto;
    width: 960px;
    padding: 20px;
}

.portfolio_wrapper {
    margin: auto;
    padding: 20px;
}

/* SECTION HEADERS */

.technologies_header,
.about_header,
.portfolio_header,
.contact_header {
    font-family: "Lato", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* TECHNOLOGIES SECTION */

#technologies {
    background-color: #ffffff;
}

.technologies_gallery {
    margin-top: 50px;
}

.technologies_gallery ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.technologies_gallery li {
    width: 24%;
    height: auto;
    display: block;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 50px;
}

.technologies_gallery li span {
    font-weight: bold;
}

.technology_image_wrap {
    height: 125px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.technologies_gallery li img {
    margin: auto;
    width: auto !important;
    max-width: 100%;
    max-height: 100%;
}

.technologies_dots {
    text-align: center;
}

#li_html i {
    color: #e44d26;
}

#li_css i {
    color: #0277bd;
}

#li_javascript i {
    color: #dab92d;
}

#li_jquery i {
    color: #1169ae;
}

#li_jqueryui i {
    color: #f9a621;
}

#li_react i {
    color: #61dafb;
}

#li_php i {
    color: #777bb3;
}

#li_git i {
    color: #f05033;
}

#html_img,
#css_img,
#javascript_img {
    width: 50%;
}

#jquery_img,
#react_img {
    width: 90%;
}

/* ABOUT SECTION */

#about {
    background-color: #000000;
    padding-bottom: 50px;
    color: white;
}

.about_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo_of_me {
    width: 49%;
}

.photo_of_me img {
    width: 80%;
}

.about_content {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*white-space: nowrap;*/
}

.about_content p {
    width: 100%;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: justify;
}

/* PORTFOLIO SECTION */

#portfolio {
    background: #f2f2f2;
}

.portfolio_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio_object {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    width: 24%;
}

.portfolio_image_wrapper {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}

.portfolio_image_hover_wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.portfolio_image_hover_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.portfolio_object_header {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.portfolio_object h3 {
    padding: 0 15px;
}

.portfolio_object p {
    padding: 0 15px;
    font-size: 0.9rem;
}

#contact {
    position: relative;
    background-image: url("./img/contact-background.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.contact_wrapper {
    position: relative;
    z-index: 1;
    padding-bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.3);
}

.contact_container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_object {
    margin: 10px;
}

#footer {
    width: 100%;
    /*background-color: #343a40;*/
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 5px;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Standard syntax */

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .nav_menu {
        display: none;
    }

    #my_logo {
        margin-left: 20px;
        font-size: 1rem;
    }

    .nav_menu_mobile_hamburger {
        display: flex;
        align-items: center;
        font-size: 25px;
    }

    .nav_menu_mobile_hamburger,
    .nav_menu_mobile {
        margin-right: 20px;
    }

    .technologies_wrapper,
    .contact_wrapper {
        width: 96%;
        padding: 1% 2%;
    }

    .about_wrapper {
        width: 92%;
        padding: 1% 4%;
    }

    #contact {
        background-attachment: scroll;
    }

/*    .main_image_text_top {
        font-size: 1.5rem;
    }*/

    .main_image_text_center {
        margin: 5px 1rem 5px 10;
        margin-left: 33%;
        margin-right: 33%;
    }

/*    .main_image_text_bottom {
        font-size: 1rem;
    }*/

    .technologies_list {
        padding: 0;
    }

    .technologies_list li {
        margin-bottom: 15px;
        width: 33%;
    }

    .technologies_dots {
        display: none;
    }

    #about {
        padding-bottom: 10px;
    }

    .about_header h1 {
        margin-bottom: 0;
    }

    .about_content h1 {
        display: none;
    }

    .photo_of_me {
        display: none;
    }

    .About_content {
        width: 100%;
    }

    .portfolio_wrapper {
        padding: 2%;
    }

    .portfolio_object {
        margin: 1%;
        margin-bottom: 2%;
        width: 48%;
    }

    .portfolio_object h3,
    .portfolio_object p {
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 5px;
    }

    .portfolio_image_hover_wrapper {
        display: block;
        position: absolute;
        left: 0;
        top: 70%;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .contact_container {
        min-height: 100px;
    }
}

@media only screen and (max-width: 500px) {
    #my_logo {
        margin-left: 10px;
    }

    .nav_menu_mobile_hamburger,
    .nav_menu_mobile {
        margin-right: 10px;
    }

    .technologies_list li {
        width: 49%;
    }


    .portfolio_wrapper {
        padding: 1%;
    }

    .portfolio_object {
        margin: 1%;
        margin-bottom: 10px;
        width: 98%;
    }

    .portfolio_object h3,
    .portfolio_object p {
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 5px;
    }
}