html,
body {
	margin: 0;
	height: 100%;
	font-family: "Roboto", sans-serif;
}

a,
a:hover,
a:visited,
a:active {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
}

/* PRELOADER */

.Preloader {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: radial-gradient(#262626, #000000);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Loader-wrapper {
	width: 210px;
	height: 210px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
}

#Loader-cube-1,
#Loader-cube-2,
#Loader-cube-3,
#Loader-cube-4,
#Loader-cube-5,
#Loader-cube-6,
#Loader-cube-7,
#Loader-cube-8,
#Loader-cube-9 {
	width: 60px;
	height: 60px;
	background-color: white;
	-webkit-animation-name: fade;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite;
	/* Safari 4.0 - 8.0 */
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#Loader-cube-1 {
	-webkit-animation-delay: 0s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0s;
}

#Loader-cube-2 {
	-webkit-animation-delay: 0.75s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0.75s;
}

#Loader-cube-3 {
	-webkit-animation-delay: 0.2s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0.2s;
}

#Loader-cube-4 {
	-webkit-animation-delay: 0.25s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0.25s;
}

#Loader-cube-5 {
	-webkit-animation-delay: 0.1s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0.1s;
}

#Loader-cube-6 {
	-webkit-animation-delay: 0.3s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0.3s;
}

#Loader-cube-7 {
	-webkit-animation-delay: 0.35s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0.35s;
}

#Loader-cube-8 {
	-webkit-animation-delay: 1.45s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 1.45s;
}

#Loader-cube-9 {
	-webkit-animation-delay: 1.25s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 1.25s;
}

.Loader-text {
	margin-top: 10px;
	color: white;
	font-size: 2.5rem;
	/*font-family: "Roboto", sans-serif;*/
}

#Dot-1,
#Dot-2,
#Dot-3 {
	-webkit-animation-name: fade;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 3s;
	/* Safari 4.0 - 8.0 */
	animation-name: fade;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

#Dot-1 {
	-webkit-animation-delay: 0s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0s;
}

#Dot-2 {
	-webkit-animation-delay: 0.5s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 0.5s;
}

#Dot-3 {
	-webkit-animation-delay: 1s;
	/* Safari 4.0 - 8.0 */
	animation-delay: 1s;
}

/* TOP IMAGE */
.Main-image-wrapper {
	display: none;
	/*height: 100%;*/
	/*position: relative;*/
}

.Main-image {
	max-width: 100%;
	height: 100%;
	position: relative;
	/*background-image: url("./img/main-img.jpg");*/
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-attachment: fixed;*/
}

.Main-image:after{
      content:"";
      position:fixed;
      top:0;
      height:100vh;
      left:0;
      right:0;
      z-index:-1;
      background-image: url("./img/main-img.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.Main-image-content-wrapper,
.Background-opacity-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.Background-opacity-wrapper {
	background-color: rgba(0, 0, 0, 0.2);
}

.Main-image-content-wrapper {
	z-index: 1;
}

.Main-image-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Main-text-wrapper {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.8);
}

.Main-image-text-top,
.Main-image-text-bottom,
#Technologies-link,
#Main-image-go-foreward-wrapper {
	text-align: center;
}

.Main-image-text-top {
	font-size: 3rem;
	letter-spacing: 5px;
}

.Main-image-text-center {
	width: 200px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid white;
}

.Main-image-text-bottom {
	font-size: 2rem;
	letter-spacing: 1px;
}

#Main-image-go-foreward {
	width: 100px;
	height: 20px;
	padding: 10px;
	margin: auto;
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 50px;
	font-family: "Lato", sans-serif;
	line-height: 20px;
	color: white;
	font-size: 1rem;
}

#Main-image-go-foreward:hover {
	background-color: rgba(0, 0, 0, 1);
	cursor: pointer;
	color: silver;
}

/* NAVBAR */
.Nav-menu-mobile-hamburger,
.Nav-menu-mobile {
	display: none;
}

.Nav-bar-wrapper {
	z-index: 1000;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 80px;
	line-height: 80px;
	background-image: linear-gradient(#050505, #262626);
	color: white;
	font-family: "Open Sans", sans-serif;
}

.Nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#My-logo {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	margin-left: 50px;
}

#My-logo:hover {
	cursor: pointer;
}

.Nav-menu {
	display: flex;
	font-size: 1rem;
	margin-right: 50px;
}

.Nav-menu div {
	padding-right: 20px;
	border-left: 2px solid black;
	padding-left: 20px;
	display: flex;
	align-items: center;
}

.Nav-menu div:last-child {
	border-right: 2px solid black;
}

.Nav-menu div:hover {
	cursor: pointer;
	background-image: linear-gradient(#050505, #383838);
}

.Main-container {
	display: none;
	height: 1000px;
}

.Nav-menu-mobile {
	margin-right: 50px;
	line-height: 1;
	text-align: right;
}

.Nav-menu-mobile div {
	margin-bottom: 12px;
}

/* SECTION WRAPPERS */
.Technologies-wrapper,
.About-wrapper,
.Contact-wrapper {
	margin: auto;
	width: 960px;
	padding: 20px;
}

.Portfolio-wrapper {
	margin: auto;
	padding: 20px;
}

/* SECTION HEADERS */
.Technologies-header,
.About-header,
.Portfolio-header,
.Contact-header {
	font-family: "Lato", sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.About-header {
	color: white;
}

/* TECHNOLOGIES SECTION */
#Technologies {
	background-color: #ffffff;
}

.Technologies-gallery {
	margin-top: 50px;
}

.Technologies-gallery ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.Technologies-gallery li {
	width: 24%;
	height: auto;
	display: block;
	vertical-align: bottom;
	text-align: center;
	margin-bottom: 50px;
}

.Technologies-gallery li span {
	font-weight: bold;
}

.Technology-image-wrap {
	height: 125px;
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
}

.Technologies-gallery li img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	margin: auto;
	max-width: 100%;
}

.Technologies-dots {
	text-align: center;
}

#li-html i {
	color: #e44d26;
}

#li-css i {
	color: #0277bd;
}

#li-javascript i {
	color: #dab92d;
}

#li-jquery i {
	color: #1169ae;
}

#li-jqueryui i {
	color: #f9a621;
}

#li-react i {
	color: #61dafb;
}

#li-php i {
	color: #777bb3;
}

#li-git i {
	color: #f05033;
}

#html-img,
#css-img,
#javascript-img {
	width: 50%;
}

#jquery-img,
#react-img {
	width: 90%;
}

/* ABOUT SECTION */
#About {
	background-color: #000000;
	padding-bottom: 50px;
}

.About-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Photo-of-me {
	width: 49%;
}

.Photo-of-me img {
	width: 80%;
}

.About-content {
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	/*white-space: nowrap;*/
}

.About-content p {
	width: 100%;
	line-height: 1.6;
	letter-spacing: 0.5px;
	text-align: justify;
}

/* Portfolio section */
#Portfolio {
	background: #f2f2f2;
}

.Portfolio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.Portfolio-object {
	margin-left: 5px;
	margin-right: 5px;
	background: #ffffff;
	width: 24%;
}

.Portfolio-image-wrapper {
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}

.Portfolio-image-hover-wrapper {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.Portfolio-image-hover-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

.Portfolio-object-header {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.Portfolio-object h3 {
	padding: 0 15px 0 15px;
}

.Portfolio-object p {
	padding: 0 15px 0 15px;
	/*text-align: justify;*/
	font-size: 0.9rem;
}

#Contact {
	position: relative;
	background-image: url("./img/contact-background.jpg");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.Contact-wrapper {
	position: relative;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);
}

.Contact-container {
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Contact-object {
	margin: 10px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Standard syntax */
@keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 1000px) {
	.Nav-menu {
		display: none;
	}

	#My-logo {
		margin-left: 20px;
		font-size: 1rem;
	}

	.Nav-menu-mobile-hamburger {
		display: flex;
		align-items: center;
		font-size: 25px;
	}

	.Nav-menu-mobile-hamburger,
	.Nav-menu-mobile {
		margin-right: 20px;
	}

	.Technologies-wrapper,
	.Contact-wrapper {
		width: 96%;
		padding: 1% 2%;
	}

	.About-wrapper {
		width: 92%;
		padding: 1% 4%;
	}

	#Contact {
		background-attachment: scroll;
	}

	.Main-image-text-top {
		font-size: 1.5rem;
	}

	.Main-image-text-center {
		margin: 5px 0;
	}

	.Main-image-text-bottom {
		font-size: 1rem;
	}

	.Technologies-list {
		padding: 0;
	}

	.Technologies-list li {
		margin-bottom: 15px;
		width: 33%;
	}

	.Technologies-dots {
		display: none;
	}

	#About {
		padding-bottom: 10px;
	}

	.About-header h1 {
		margin-bottom: 0;
	}

	.About-content h1 {
		display: none;
	}

	.Photo-of-me {
		display: none;
	}

	.About-content {
		width: 100%;
	}

	.Portfolio-wrapper {
		padding: 2%;
	}

	.Portfolio-object {
		margin: 1%;
		width: 48%;
	}

	.Portfolio-object h3,
	.Portfolio-object p {
		margin-top: 2px;
		margin-bottom: 2px;
		padding: 5px;
	}

	.Contact-container {
		min-height: 100px;
	}
}

@media only screen and (max-width: 500px) {
	#My-logo {
		margin-left: 10px;
	}

	.Nav-menu-mobile-hamburger,
	.Nav-menu-mobile {
		margin-right: 10px;
	}

	.Technologies-list li {
		width: 49%;
	}

	
	.Portfolio-wrapper {
		padding: 1%;
	}

	.Portfolio-object {
		margin: 1%;
		width: 98%;
	}

	.Portfolio-object h3,
	.Portfolio-object p {
		margin-top: 2px;
		margin-bottom: 2px;
		padding: 5px;
	}
}
